html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
}

article{
    display: block;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}