html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width:90%;
    margin: 0 auto
}

h1 {
    margin: 5%;
    color: #2699FB;
    font-size: 3em;
}