

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
.row {
    margin: 20px auto;
    max-width: 1000px;
    background-color: #fff;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.caption{
    margin-right: auto;
    padding: 20px;
}

.caption p:first-child {
    padding-bottom: 40px
}

.row img {
    width: 40%;
    object-fit: contain;
}

.row p {
    margin: auto;
}

@media( min-width: 700px) {
    .rows {
        display: grid;
        grid-template-columns: 49% 49%;
        max-width: 1000px;
    }

    .wrapper {
        background-color: #fff;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    body {
        background-color: grey;
    }
}