

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
.row {
    margin: 20px auto;
    max-width: 1000px;
    background-color: #fff;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.caption{
    margin-right: auto;
    padding: 20px;
}

.caption p:first-child {
    padding-bottom: 40px
}

.row img {
    width: 40%;
    object-fit: contain;
}

.row p {
    margin: auto;
}