html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: grey;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    background-color: #fff;
    padding-bottom: 40px;
}

img {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
}

 h1, p {
    text-align: center;
}

.topic {
    border-top: 1px dotted grey;
    margin-bottom: 40px;
    padding-top: 40px;
}

@media (min-width: 700px) {
    .row {
        display: flex;
        padding: 20px;
    }

    .topic-1 {
        order: 1;
    }

    .topic-3{
        order: 2;
    }

    .topic img{
        height: 200px;
        object-fit: cover;
    }
}