@charset "utf-8";
/* CSS Document */

/* Body Styles */
@media (min-width: 800px){
	body {
		background-image: url(../images/tweed.png);
	}
}

body,
.special {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	line-height: 1.4;
}

/* Header Styles */
header {
	background: linear-gradient(to bottom, #a51f1f 0%,#981d1e 26%,#701717 78%,#641616 100%);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

header h1 {
	margin: 10px;
}

.inner-header {
	display: flex;
	justify-content: space-between;
	height: 60px;
	max-width: 800px;
	margin: 0 auto;
}

header a {
	text-decoration: none;
	color: white;
}

/* End Header Styles */

/* Header Navigation Styles */
.nav-button {
    border: none;
    background: none;
    color: white;
    padding: 0;
    line-height: .7;
    font-size: 2.5em;
    margin-right: 10px;
    position: relative;
    top: -1px;
	cursor: pointer;
	margin-right: 20px;
	font-size: 30px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	display: block;
	line-height: 45px;
	text-indent: 20px;
}

header nav{
	display: none;
	width: 100%;
	background-color: black;
	position: fixed;
	top: 60px;
	font-size: 2em;
	font-family: arial;
}

.show header nav {
	display: block;

}

header li a:active,
header li a:focus,
header li a:hover {
	background-color: rgba(255, 255, 255, 0.171);
}


@media (min-width: 720px){	
	/* Tablet and desktop navigation styles go here... */
	.nav-button {
		display: none;
	}

	header nav {
		display: flex;
		width: auto;
		position: static;
		background: none;
	}

	header nav ul {
		display: flex;
	}

	nav li:nth-child(n){
		list-style: none;
		padding: 15px 20px;
		margin: 0;
	}
}

/* End Header Navigation Styles */

/* Main Styles */
.content {
	max-width: 800px;
	padding: 20px;
	margin: 60px auto 0;
	background-color: #fff;
}

@media (min-width: 720px){
	.content {
		padding: 30px;
	}



}

/* Hero Slider Styles */



/* End Hero Slider Styles */
.hero-slider {
	position: relative;
}

.prev,
.next {
	display: block;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	z-index: 900;
	width: 16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

@media (min-width: 500px){
	/* Large phone hero slider styles go here... */
	.prev,
	.next {
		width: 24px;
	}

}

@media (min-width: 720px){
	/* Tablet and desktop styles for the hero slider go here... */
	.prev,
	.next {
		width: 40px;
	}

}



.hero-slider-th-container {
	display: flex;
	width: 60%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	z-index: 200;
	border: 1px solid white;
	border-radius: 10px;
}

.hero-slider-th-container img {
	padding: 5px;
}

.row {
	margin-top: 10px;
}

section figure{
	padding: 0;
	width: 90%;
	margin: 0 5px;
}

section article {
	padding: 10px;
	border-top: 1px dotted grey;
}

section h1 {
	margin: 20px 0 0;
	font-weight: bold;
}

section figure {
	position: relative;
}

.special {
	position: absolute;
	top: -10px;
	right: 5px;
	color: white;
	background-color: darkred;
	padding: 5px;
	font-family: arial;
	font-weight: bold;
}

.section-01,
.section-02 {
	padding: 20px 0;	
}

@media (min-width: 500px){
	/* Large phone section styles go here... */
	section article{
		display: flex;
	}

	section article figure {
		width: 40%;
	}

	.article-text{
		width: 60%
	}

}

@media (min-width: 720px){
	/* Tablet and desktop styles for the sections go here... */
	section article {
		border: none;
		display: inline;
	}

	.row{
		display: flex;
	}

	section article figure {
		width: 100%;
	}

	.article-text{
		width: 100%
	}
}
/* End Main Styles */

/* Footer Styles */

footer {
	padding: 30px 0 0;
	border-top: 1px solid #ccc;
}

footer p {
	line-height: 1;
}

footer p:last-child {
	margin-bottom: 0;
}

/* Utility Classes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
